.vendor_update input {
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-right: 30px;
}

.vendor_update button {
  padding: 10px 20px;
  background: blueviolet;
  font-size: 16px;
  color: #ffffff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
